.room-table {
    width: 100%;
    margin-bottom: 0;
}

.room-table thead th {
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    color: #3A4752;
    font-weight: bold;
    background-color: #f8f9fa;
}

.room-table tbody td {
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
    padding: 12px;
    color: #768B9E;
}

tbody tr:last-child {
    border: 0;
}

.room-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/* .price-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.main-wrapper .card-body {
    padding: 30px;
}

.card-body .table {
    margin-bottom: 0;
}

.main-wrapper .card {
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.action-icon {
    margin: 0 5px;
    color: #495057;
    cursor: pointer;
}

.action-icon:hover {
    color: #b99470;
}

/* Custom CSS for Modal */
.custom-modal {
    font-size: 1.4rem;
}

.custom-modal .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.7rem + 2px);
    padding: 0.85rem 1.25rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f5f5f5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-modal .form-control {
    height: 5rem;
    border-color: #dedede;
}

.custom-modal textarea.form-control {
    height: auto;
}

@media (min-width: 576px) {
    .custom-modal .modal-dialog {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

.custom-modal .modal-body {
    padding: 30px;
}

/*  */
