.register-title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #181b20;
}