/* General styles */
#main-wrapper {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f8f9fa;
    font-family: system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    /* font-family: "Work Sans", sans-serif; */
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #181b20;
}

/* Sidebar styles */
.left-sidebar {
    width: 260px;
    flex-shrink: 0;
    background: #fff;
    z-index: 10;
    transition: .2s ease-in;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    top: 60px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .03), 0 0 1px 0 rgba(0, 0, 0, .1);
}

.with-vertical {
    display: block;
}

.nav-small-cap {
    margin-top: 24px;
    color: #181b20;
    font-size: 13px;
    font-weight: 600;
    padding: 0 0 8px;
    line-height: 19px;
    text-transform: uppercase;
}

.sidebar-item .sidebar-link {
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    position: relative;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 400;
    color: #181b20 !important;
    border-radius: 5px;
    gap: 12px;
}

.sidebar-item .sidebar-link:hover {
    border-color: #b99470;
    color: #b99470 !important;
}

.sidebar-item .sidebar-link.active {
    background-color: #b99470;
    border-color: #b99470;
    color: #fff !important;
}

#sidebarnav {
    padding: 0 15px;
}

ul {
    list-style: none;
    padding: 0;
}

/* Page Wrapper styles */
@media (min-width: 1300px) {
    .page-wrapper {
        margin-left: 260px;
    }
}

@media (min-width: 1300px) {
    .topbar {
        left: 0;
    }
}

.user-profile {
    background-image: url("https://bootstrapdemos.wrappixel.com/materialpro/dist/assets/images/backgrounds/user-info.jpg");
    background-repeat: no-repeat;
}

.user-profile .profile-img {
    width: 50px;
    margin-left: 30px;
    padding: 35px 0;
}

.user-profile .profile-img::before {
    animation: 2.5s blow 0s linear infinite;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 35px;
    border-radius: 50%;
    z-index: 0;
}

.user-profile .profile-text>a {
    padding: 6px 20px;
    background: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.dropdown-toggle {
    white-space: nowrap;
}

.user-profile .profile-text>a:after {
    position: absolute;
    right: 20px;
    top: 15px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.user-profile .dropdown-menu {
    left: 15px !important;
    right: 0;
    width: 200px;
    margin: 0 auto;
}

#main-wrapper .dropdown-item {
    display: flex;
    align-items: center;
    padding: 16px 10px;
    color: #3A4752;
    font-size: 16px;
    cursor: pointer;
}

#main-wrapper .dropdown-item:hover {
    background-color: #f3f3f3;
    color: #b99470;
}

#main-wrapper .dropdown-item i {
    margin-right: 5px;
}

#main-wrapper .dropdown-menu {
    padding: 8px 0;
    border-radius: 12px;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    border: 0;
}

/* Topbar styles */
.topbar {
    position: fixed;
    padding: 0 18px;
    top: 0;
    width: 100%;
    background: var(--bs-card-bg);
    z-index: 50;
    box-shadow: 1px 0 7px rgba(0, 0, 0, .05);
    /* box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5); */
}

.rounded-0 {
    border-radius: 0 !important;
}

.topbar .navbar {
    min-height: 60px;
}

@media (min-width: 992px) {
    .px-lg-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

.brand-logo {
    min-height: 60px;
    width: 260px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.topbar .navbar .navbar-nav .hover-dd {
    position: relative;
}

.nav-icon-hover-bg {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-circle {
    border-radius: 50% !important;
}

.topbar .navbar .navbar-nav .nav-item .nav-link {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    font-size: 20px;
    display: flex;
    color: #fff;
    align-items: center;
}

.round-30 {
    width: 30px;
    height: 30px;
}

/* Body Wrapper styles */
.body-wrapper {
    padding-top: calc(60px + 30px);
}


.page-wrapper .body-wrapper > .container-fluid,
.page-wrapper .body-wrapper > .container-lg,
.page-wrapper .body-wrapper > .container-md,
.page-wrapper .body-wrapper > .container-sm,
.page-wrapper .body-wrapper > .container-xl,
.page-wrapper .body-wrapper > .container-xxl {
    transition: .2s ease-in;
    padding: 0 24px;
    min-height: calc(100vh - 160px);
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1300px;
    margin: 0 auto;
}

/*  */

.room-table {
    width: 100%;
    margin-bottom: 0;
}

.room-table thead th {
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    color: #3A4752;
    font-weight: bold;
    background-color: #f8f9fa;
}

.room-table tbody td {
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
    padding: 12px;
    color: #768B9E;
}

tbody tr:last-child {
    border: 0;
}

.room-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/* .price-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#main-wrapper .card-body {
    padding: 30px;
}

.card-body .table {
    margin-bottom: 0;
}

#main-wrapper .card {
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.action-icon {
    margin: 0 5px;
    color: #495057;
    cursor: pointer;
}

.action-icon:hover {
    color: #b99470;
}
