/* index.css hoặc global.css */
html {
  font-size: 10px; /* Đặt 1rem = 10px */
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181b20;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
